<div class="dashboard">
    <h1 id="install">Getting started:</h1>
    <p class="info">
        The library is under active development stage.
    </p>
    <h3>How to install</h3>
    <pre>
        <code class="javascript">
            npm install react-redux-jedi

            // or
            
            yarn add react-redux-jedi
        </code>
    </pre>
    <h1>Utils:</h1>
    <div id="createActionTypes">
        <h3>createActionTypes</h3>
        <p>Creates action types for actions based on a list of unique constants.</p>
    </div>
    <p>How to use:</p>
    <div>
        <p>Example:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts

                import { createActionTypes } from "react-redux-jedi";
                const authConstants = ["SIGN_IN", "SIGN_UP"];
                
                export default createActionTypes(authConstants);
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                {
                    SIGN_IN: {
                        REQUEST: "SIGN_IN_REQUEST",
                        FAILURE: "SIGN_IN_FAILURE",
                        SUCCESS: "SIGN_IN_SUCCESS"
                    }
                    SIGN_UP: {
                        REQUEST: "SIGN_UP_REQUEST",
                        FAILURE: "SIGN_UP_FAILURE",
                        SUCCESS: "SIGN_UP_SUCCESS"
                    }
                }
            </code>
        </pre>
        <p>Arguments <b>createActionTypes(constantsForActions: string[], prefixes?: string[], additionalOptions?: IActionTypesOpts)</b>:</p>
        <ul class="list">
            <li><b>constantsForActions (required)</b> - a list of unique constants based</li>
            <li><b>prefixes (optional)</b> - if not passed, then the default prefix list is used. Default prefixes: <b>REQUEST, SUCCESS, FAILURE</b>. If additional prefixes are passed then additional prefixes will be added to the default prefix list</li>
            <li><b>additionalOptions (optional):</b>
                <ul>
                    <li><b>useOnlyCustomPrefixes?: boolean</b> - Default prefixes will be ignored. By default = false</li>
                </ul>
            </li>
        </ul>
        <p>Example with <b>additional prefixes</b>:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts

                import { createActionTypes } from "react-redux-jedi";
                
                const authConstants = ["SIGN_IN", "SIGN_UP"];
                export default createActionTypes(authConstants, ["CLEAR"]);
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                {
                    SIGN_IN: {
                        CLEAR: "SIGN_IN_CLEAR" // additional prefix
                        FAILURE: "SIGN_IN_FAILURE"
                        REQUEST: "SIGN_IN_REQUEST"
                        SUCCESS: "SIGN_IN_SUCCESS"
                    },
                    SIGN_UP: {
                        CLEAR: "SIGN_UP_CLEAR" // additional prefix
                        FAILURE: "SIGN_UP_FAILURE"
                        REQUEST: "SIGN_UP_REQUEST"
                        SUCCESS: "SIGN_UP_SUCCESS"
                    }
                }
            </code>
        </pre>
        <p>Example with <b>useOnlyCustomPrefixes: true</b> :</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts
    
                import { createActionTypes } from "react-redux-jedi";
                
                const authConstants = ["SIGN_IN", "SIGN_UP"];
                export default createActionTypes(authConstants, ["CLEAR"], { useOnlyCustomPrefixes: true });
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                {
                    SIGN_IN: {
                        CLEAR: "SIGN_IN_CLEAR" // only additional prefix
                    },
                    SIGN_UP: {
                        CLEAR: "SIGN_UP_CLEAR" // only additional prefix
                    }
                }
            </code>
        </pre>
        <p>How to use in <b>Reducers</b>:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts

                import { createActionTypes } from "react-redux-jedi";
                
                const authConstants = ["SIGN_IN", "SIGN_UP"];
                export default createActionTypes(authConstants);

                // ./reducers/index.ts
                import constants from "./constants";

                // ...
                switch (action.type) {
                    case constants.SIGN_IN.REQUEST:
                        // TODO
                    case constants.SIGN_IN.SUCCESS:
                        // TODO
                    case constants.SIGN_IN.FAILURE:
                        // TODO
                    dafailt: 
                        return initialState
                }

            </code>
        </pre>
        <p>How to use with <b>Sagas</b>:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts

                import { createActionTypes } from "react-redux-jedi";
                
                const authConstants = ["SIGN_IN", "SIGN_UP"];
                export default createActionTypes(authConstants);

                // ./actions/index.ts
                import { createActionTypes } from "react-redux-jedi";
                import { authConstants } from "./constants";

                export default createActions(authConstants);

                // ./sagas/index.ts
                import constants from "./constants";
                import actions from "./actions";

                function* workerSaga({ payload, cb, options }) {
                    try {
                        // yield call to API and put to SUCCESS action data from API
                        yield put(actions.SIGN_IN.SUCCESS(data));
                    } catch {
                        yield put(actions.SIGN_IN.FAILURE(err as Object));
                    } finally {
                        cb?.();
                    }
                }

                export const watcherSaga = function* () {
                  yield takeLatest(constants.SIGN_IN.REQUEST, workerSaga);
                };
            </code>
        </pre>
    </div>
    <div id="createActions">
        <h3>createActions</h3>
        <p>Created actions based on a list of unique constants.</p>
    </div>
    <p>How to use:</p>
    <div>
        <p>Example:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts
    
                export const authConstants = ["SIGN_IN", "SIGN_UP"];
            </code>
        </pre>
        <pre>
            <code class="javascript">
                // ./actions/index.ts
                
                import { createActionTypes } from "react-redux-jedi";
                import { authConstants } from "./constants";

                export default createActions(authConstants);
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                {
                    SIGN_IN: {
                        FAILURE: (payload, cb, options) => {…}
                        REQUEST: (payload, cb, options) => {…}
                        SUCCESS: (payload, cb, options) => {…}
                    },
                    SIGN_UP: {
                        FAILURE: (payload, cb, options) => {…}
                        REQUEST: (payload, cb, options) => {…}
                        SUCCESS: (payload, cb, options) => {…}
                    }
                }
            </code>
        </pre>
        <p>Arguments <b>createActions(constantsForActions: string[], prefixes?: string[], additionalOptions?: IActionsOpts)</b>:</p>
        <ul class="list">
            <li><b>constantsForActions (required)</b> - a list of unique constants based</li>
            <li><b>prefixes (optional)</b> - if not passed, then the default prefix list is used. Default prefixes: <b>REQUEST, SUCCESS, FAILURE</b>. If additional prefixes are passed then additional prefixes will be added to the default prefix list</li>
            <li><b>additionalOptions (optional):</b>
                <ul>
                    <li><b>useOnlyCustomPrefixes?: boolean</b> - Default prefixes will be ignored. By default = false</li>
                    <li><b>withCallback?: boolean</b> - action has callback function. By default = false</li>
                    <li><b>withOptions?: boolean</b> - action has additional options. By default = false</li>
                    <li><b>useActionAliasName?: boolean</b> - convert constants to action name (Example: <b>SIGN_IN.REQUEST()</b> convert to <b>signInRequest()</b>). By default = false</li>
                </ul>
            </li>
        </ul>
        <p>Example <b>useActionAliasName = true</b>:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts
    
                export const authConstants = ["SIGN_IN", "SIGN_UP"];

                // ./actions/index.ts
                
                import { createActionTypes } from "react-redux-jedi";
                import { authConstants } from "./constants";

                export default createActions(authConstants, [], { useOnlyCustomPrefixes: true })
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                {
                    signInFailure: payload => ({ type, payload })
                    signInRequest: payload => ({ type, payload })
                    signInSuccess: payload => ({ type, payload })
                    signUpFailure: payload => ({ type, payload })
                    signUpRequest: payload => ({ type, payload })
                    signUpSuccess: payload => ({ type, payload })
                }
            </code>
        </pre>
        <p>Ho to use in components:</p>
        <pre>
            <code class="javascript">
                import { useDispatch } from "react-redux";
                import { actions } from "./actions"
                const TestComponent = () => {
                    const dispatch = useDispatch();

                    const handleSubmitForm = (data: { email: string, pass: string }) => {
                        dispatch(SIGN_IN.REQUEST(data, () => {
                            // callback
                        }))

                        // or useActionAliasName = true

                        dispatch(signInRequest(data, () => {
                            // callback
                        }))
                    }
                }
            </code>
        </pre>
        <p>Ho to use with <b>sagas</b>:</p>
        <pre>
            <code class="javascript">
                function* workerSaga({ payload, cb, options }) {
                    try {
                        // yield call to API and put to SUCCESS action data from API
                        yield put(actions.SIGN_IN.SUCCESS(data));
                    } catch {
                        yield put(actions.SIGN_IN.FAILURE(err as Object));
                    } finally {
                        cb?.();
                    }
                }

                export const watcherSaga = function* () {
                  yield takeLatest(constants.SIGN_IN.REQUEST, workerSaga);
                };
            </code>
        </pre>
        <p>Ho to use with <b>redux-thunk</b>:</p>
        <pre>
            <code class="javascript">
                // please use createThunkActions
            </code>
        </pre>
        <p>Ho to use with <b>redux-observable</b>:</p>
        <pre>
            <code class="javascript">
                import { ofType, ActionsObservable } from "redux-observable";
                import actions from "./actions";
                import constants from "./constants";

                export const signInEpic = (action$: ActionsObservable<AnyAction>) =>
                    action$.pipe(
                      ofType(constants.SIGN_IN.REQUEST) // or actions.signInRequest
                      mergeMap((data) => request(data.payload)),
                      concatMap((data: AjaxResponse) => {
                        return of(actions.signInSuccess(data.response));  // or actions.SIGN_IN.SUCCESS(data.response)
                      }),
                      catchError((error: AjaxError) => {
                        return of(
                          actions.signInFailure(parseError(error)), // or actions.SIGN_IN.FAILURE(error)
                        );
                      }),
                    );
            </code>
        </pre>
    </div>
    <div id="createThunkActions">
        <h3>createThunkActions</h3>
        <p>Created actions based on a list of unique constants for using together with redux-thunk lib.</p>
    </div>
    <p>Arguments <b>createThunkActions(constantsForActions: string[], prefixes?: string[], additionalOptions?: IActionsOpts)</b>:</p>
    <ul class="list">
        <li><b>constantsForActions (required)</b> - a list of unique constants based</li>
        <li><b>prefixes (optional)</b> - if not passed, then the default prefix list is used. Default prefixes: <b>REQUEST, SUCCESS, FAILURE</b>. If additional prefixes are passed then additional prefixes will be added to the default prefix list</li>
        <li><b>additionalOptions (optional):</b>
            <ul>
                <li><b>useOnlyCustomPrefixes?: boolean</b> - Default prefixes will be ignored. By default = false</li>
                <li><b>withCallback?: boolean</b> - action has callback function. By default = false</li>
                <li><b>withOptions?: boolean</b> - action has additional options. By default = false</li>
                <li><b>useActionAliasName?: boolean</b> - convert constants to action name (Example: <b>SIGN_IN.REQUEST()</b> convert to <b>signInRequest()</b>). By default = false</li>
            </ul>
        </li>
    </ul>
    <p>How to use:</p>
    <div>
        <p>Example:</p>
        <pre>
            <code class="javascript">
                // ./constants/index.ts
    
                export const authConstants = ["SIGN_IN", "SIGN_UP"];

                // ./actions/index.ts
                
                import { createActionTypes } from "react-redux-jedi";
                import { authConstants } from "./constants";

                export default createThunkActions(authConstants)
            </code>
        </pre>
        <p>Result:</p>
        <pre>
            <code class="javascript">
                signInFailure: (payload, cb, options) => {…}
                signInRequest: (<b>request</b>, payload, cb, options) => {…}
                signInSuccess: (payload, cb, options) => {…}
                signUpFailure: (payload, cb, options) => {…}
                signUpRequest: (<b>request</b>, payload, cb, options) => {…}
                signUpSuccess: (payload, cb, options) => {…}
            </code>
        </pre>
        <p>How to use in <b>components</b>:</p>
        <pre>
            <code class="javascript">
                // ./service/index.ts

                export const sigIn = data => {
                    return new Promise((resolve, reject) => {
                      return api
                        .post(url, data)
                        .then(response => resolve(response))
                        .catch(error => reject(error));
                    });
                  };
                
                // ./component/index.ts

                import React from "react";
                import { sigIn } from "./service";
                import actions from "./actions";
                import { useDispatch } from "react-redux";

                const Login = () => {
                    const dispatch = useDispatch();

                    const handleSubmit = (data) => {
                        dispatch(actions.signInRequest(sigIn, data))
                    }

                    // ....
                }
            </code>
        </pre>
    </div>
    <h1>Routing:</h1>
    <div id="renderRoute">
        <h3>renderRoute</h3>
        <p>Renders a list of routes based on the config. Allow child routes. The nesting level can be any.</p>
    </div>
    <p>How to use:</p>
    <pre>
        <code class="javascript">
            // config example

            export const publicRoutes = [
                {
                    path: "/login",
                    exact: true,
                    component: SighIn,
                    children: [],
                },
                {
                    path: "/registration",
                    exact: true,
                    component: SighUp,
                    children: [],
                },
            ];

            export const privateRoutes = [{
                path: "/categories",
                exact: true,
                component: Categories,
                children: [{
                    {
                        path: "/:category_id",
                        exact: true,
                        component: Category,
                        children: [{
                            path: "/products",
                            exact: true,
                            component: Products,
                            children: [{
                                path: "/:product_id",
                                exact: true,
                                component: Product,
                                children: []
                            }]
                        }],
                      },
                }]
            }]
        </code>
    </pre>
    <pre>
        <code class="javascript">
            // src/index.ts

            import React from "react";
            import ReactDOM from "react-dom";
            import App from "./App";
            import { Provider } from "react-redux";
            import store from "./store/index";
            import history from "./history";
            import { ConnectedRouter } from "connected-react-router";
            import * as serviceWorker from "./serviceWorker";
            import "./index.scss";

            ReactDOM.render(
              < Provider store={store} >
                < ConnectedRouter history={history} >
                  < App />
                < / ConnectedRouter >
              < / Provider >, document.getElementById("root")
            );
          
            serviceWorker.unregister();
        </code>
    </pre>
    <pre>
        <code class="javascript">
            // src/App.tsx

            import { privateRoutes, publicRoutes } from "../src/routes";
            import Main from "./Main.tsx";

            < Switch >
                {publicRoutes.map(route => renderRoute(null, route))}
                < Main >{privateRoutes.map(route => renderRoute(null, route))}< / Main >
            < / Switch >
        </code>
    </pre>
    <pre>
        <code class="javascript">
            // src/Main.tsx

            export default requireAuth(({ children }) => { // use your own requireAuth HOC
                return (
                  < div >{children}< / div >
                );
              });
        </code>
    </pre>
    <div id="JediRoutes">
        <h3>JediRoutes</h3>
        <p>The component uses renderRoute method. All routes building logic is encapsulated inside the component.</p>
    </div>
    <p>How to use:</p>
    <pre>
        <code class="javascript">
            // ./router/index.ts config example

            export const publicRoutes = [
                {
                    path: "/login",
                    exact: true,
                    component: SighIn,
                    children: [],
                },
                {
                    path: "/registration",
                    exact: true,
                    component: SighUp,
                    children: [],
                },
            ];

            export const privateRoutes = [{
                path: "/categories",
                exact: true,
                component: Categories,
                children: [{
                    {
                        path: "/:category_id",
                        exact: true,
                        component: Category,
                        children: [{
                            path: "/products",
                            exact: true,
                            component: Products,
                            children: [{
                                path: "/:product_id",
                                exact: true,
                                component: Product,
                                children: []
                            }]
                        }],
                      },
                }]
            }]
        </code>
    </pre>
    <pre>
        <code class="javascript">
            // ./router/requireAuth.tsx

            import React, { useEffect } from "react";
            import { Redirect } from "react-router";

            export const RequireAuthHOC = (ComposedComponent) => {
              return (props) => {
                const isAuthenticated = true;
                // TODO
                return isAuthenticated ? < ComposedComponent {...props} / > : < Redirect to="/login" / >;
              };
            };
        </code>
    </pre>
    <p>Props:</p>
    <ul class="list">
        <li><b>privateRouter (optional)</b> - List of private routes</li>
        <li><b>publicRouter (optional)</b> - List of public routes</li>
        <li><b>requireAuth (optional)</b> - Higher-order component for checking user authorization</li>
        <li><b>redirectTo (required)</b> - If the route isn't found then the user will be redirected to that path</li>
        <li><b>useSwitch (optional)</b> - Use Switch from react-router inside component. By default = true</li>
    </ul>
    <p>Route Config:</p>
    <ul class="list">
        <li><b>path (required)</b> - Page path</li>
        <li><b>exact (required)</b> - Exact keyword is used only when you want to render a component when there is an exact match of route.</li>
        <li><b>component (required)</b> - React Component or null</li>
        <li><b>children (required)</b> - List of child routes or empty array</li>
    </ul>
    <pre>
        <code class="javascript">
            // ./src/App.tsx

            import { JediRoutes } from "react-redux-jedi";
            import { publicRoutes, privateRouter } from "./router/index.ts";
            import { RequireAuthHOC } from "./router/requireAuth.tsx";

            const App = () => {
                return (
                    < JediRoutes
                        privateRouter={privateRouter};
                        publicRouter={publicRoutes};
                        requireAuth={RequireAuthHOC};
                        redirectTo={"/login"};
                        useSwitch={true};
                    />
                )
            }
        </code>
    </pre>
    <div id="createReducer">
        <h3>createReducer</h3>
        <p>Allows not to use switch/case inside reducers.</p>
    </div>
    <p>How to use:</p>
    <pre>
        <code class="javascript">
            // ./constants/index.ts

            import { createActionTypes } from "react-redux-jedi";
            const constants = ["FETCH_TODOS", "FETCH_TODO"];
            
            export default createActionTypes(constants);
        </code>
    </pre>
    <pre>
        <code class="javascript">
            // ./reducer/index.ts

            import { createReducer } from "react-redux-jedi";
            import constants from "./constants";
            import { ITodosState } frpm "./interfaces"

            export default createReducer< ITodosState >(initialstate, {
                [constants.FETCH_TODOS.REQUEST](state: ITodosState) {
                  return {
                    ...state,
                    loading: true,
                    error: null,
                  };
                },
                [constants.FETCH_TODOS.SUCCEESS](state: ITodosState, action) {
                    return {
                      ...state,
                      todos: action.payload
                      loading: false,
                      error: null,
                    };
                  },
                [constants.FETCH_TODOS.FAILURE](state: ITodosState, action) {
                    return {
                      ...state,
                      loading: false,
                      error: action.payload.message,
                    };
                  },
              });
        </code>
    </pre>
    <div id="createLoaderMiddleware">
        <h3>createLoaderMiddleware</h3>
        <p>Middleware that implements functionality for tracking the process of loading data in an application. Implemented two types for loading indicator.</p>
    </div>
    <p>How to use:</p>
    <p class="warn"><b>Important!</b> The name of the constant must be in the following format: `{uniq_constant_name}_{REQUEST | SUCCESS | FAILURE}`.<br />For example: "FETCH_TODOS<b>_REQUEST</b>" or "LOGIN<b>_REQUEST</b>". For creating constants, we recommend <b>createActionTypes</b> function</p>
    <pre>
        <code class="javascript">
            // ./store.ts
            
            import { applyMiddleware, createStore } from "redux";
            import rootReducer from "./rootReducer";
            import rootSagas from "./rootSaga";
            import { routerMiddleware } from "connected-react-router";
            import { composeWithDevTools } from "redux-devtools-extension";
            import { History, createBrowserHistory } from "history";
            import createSagaMiddleware from "redux-saga";
            
            <b>import { createLoaderMiddleware } from "react-redux-jedi";</b>
            
            const sagaMiddleware = createSagaMiddleware();

            <b>const loaderMiddleware = createLoaderMiddleware();</b>
            
            const composer = composeWithDevTools({ trace: true, traceLimit: 25 });
            export const history = createBrowserHistory();
            
            export const configureStore = (history: History) => {
              const store = createStore(
                rootReducer(history),
                undefined,
                composer(
                  applyMiddleware(
                    sagaMiddleware,

                    <b>loaderMiddleware</b>,

                    routerMiddleware(history),
                  ),
                ),
              );
            
              sagaMiddleware.run(rootSagas);
            
              return { store };
            };

        </code>
    </pre>
    <p>Arguments <b>const loaderMiddleware = createLoaderMiddleware(exceptions?: string[] | undefined);</b>:</p>
    <ul class="list">
        <li><b>exceptions (optional)</b> - a list of constants to be ignored</li>
    </ul>
    <pre>
        <code class="javascript">
            // ./rootReducer.ts

            import { combineReducers } from "redux";
            import { connectLoader } from "react-redux-jedi";
            
            export default () => {
              const rootReducer = combineReducers({

                // ... other reducers

                <b>loaders: connectLoader,</b>
              });
          
              return (state, action) => {
                return rootReducer(state, action);
              };
            };

        </code>
    </pre>
    <pre>
        <code class="javascript">
            // ./components.tsx

            import { useSelector } from "react-redux";
            import { getLoaderStatus, getLoadersCount, getRequestLoaderStatus } from "react-redux-jedi";
            import constants from "./constants"

            const Todos = () => {

                // global loader
                const globalLoader = useSelector(getLoaderStatus())

                // number of active loaders
                const loadersCount = useSelector(getLoadersCount())

                // local loader - gets the loader status by the name of the action constant
                const todosLoader = useSelector(getRequestLoaderStatus(constants.FETCH_TODOS_REQUEST))

                return ...
            }

        </code>
    </pre>
    <div id="createErrorsMiddleware">
        <h3>createErrorsMiddleware</h3>
        <p>Middleware that implements functionality for handling errors in the application received as a response from the server.</p>
    </div>
    <p>How to use:</p>
    <pre>
        <code class="javascript">
            // ./store.ts
            
            import { applyMiddleware, createStore } from "redux";
            import rootReducer from "./rootReducer";
            import { composeWithDevTools } from "redux-devtools-extension";
            
            <b>import { createErrorsMiddleware } from "react-redux-jedi";</b>
            <b>const errorMiddleware = createErrorsMiddleware();</b>
            
            const composer = composeWithDevTools({ trace: true, traceLimit: 25 });
            
            export const configureStore = () => {
              const store = createStore(
                rootReducer(),
                undefined,
                composer(
                  applyMiddleware(
                    <b>errorMiddleware</b>,
                  ),
                ),
              );
            
              return { store };
            };

        </code>
    </pre>
    <pre>
        <code class="javascript">
            // ./components.tsx

            import { useSelector } from "react-redux";
            import { getRequestErrorStatus, getRequestError } from "react-redux-jedi";
            import constants from "./constants"

            const Todos = () => {

                const requestErrorStatus = useSelector(getRequestErrorStatus(constants.FETCH_TODOS_FAILURE))
                const requestError = useSelector(getRequestError(constants.FETCH_TODOS_FAILURE))

                return ...
            }

        </code>
    </pre>
</div>