<div class="sidebar">
    <div>
        <h1 class="title">react-redux-jedi</h1>
        <p class="sub-title">That's what you're all waiting for.</p>
        <nav class="menu">
            <ul>
                <li><a href="https://bielykh-artem.github.io/">Home</a></li>
                <li><a href="#">Utils:</a>
                    <ul>
                        <li><a href="#createActionTypes">createActionTypes</a></li>
                        <li><a href="#createActions">createActions</a></li>
                        <li><a href="#createThunkActions">createThunkActions</a></li>
                    </ul>
                </li>
                <li><a href="#">Routing:</a>
                    <ul>
                        <li><a href="#renderRoute">renderRoute</a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/Bielykh-Artem/react-redux-jedi">GitHub Project</a></li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <p>Current Version: 1.0.11</p>
    </div>
</div>